footer {
    background-color: white;
    height: 60px;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #CCCCCC;
    position: relative;
}
footer > p {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
